html,
body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: "Space Mono", monospace, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #F0EDE5;
    color: #000;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}